@media (max-width:1180px) {
  .bundle__items {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .bundle-item:nth-child(3) {
    order: -1;
  }
}

@media (max-width:1050px) {
  .product__inner {
    flex-direction: column;
    gap: 20px;
  }

  .product-info {
    max-width: 444px;
  }

  .product-tabs__content {
    max-width: 400px;
  }

  .product-tabs__content-text {
    max-width: 100%;
  }

  .product-tabs__content-video {
    max-width: 100%;
    width: 100%;
    min-height: 150px;
    padding: 10px 10px 30px 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
  }
}

@media (max-width:950px) {
  .games__inner {
    flex-direction: column;
    gap: 20px;
  }
}

@media (max-width:800px) {
  .product-info__wrapper {
    flex-direction: column;
  }

  .product-tabs__wrapper,
  .games__title {
    margin: 0 auto;
    text-align: center;
  }

  .games__title {
    margin-bottom: 40px;
  }

  .product-info,
  .product-tabs__content {
    margin: 0 auto;
  }

  .picture__img {
    height: 370px;
  }

  .accessories__items {
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }

  .picture,
  .accessories {
    padding-bottom: 50px;
  }
}

@media (max-width:600px) {

  .product__inner,
  .bundle {
    padding: 50px 0;
  }

  .banner {
    margin-bottom: 50px;
  }

  .games {
    padding-bottom: 50px;
    margin-bottom: 50px;
  }

  .header__inner {
    flex-direction: column;
  }

  .main-content {
    text-align: center;
  }

  .main-content__title {
    font-size: 66px;
    line-height: 80px;
  }

  .main-content__subtitle {
    font-size: 26px;
    line-height: 36px;
  }

  .main-content__offer-text {
    margin-bottom: 30px;
  }

  .main-content__offer {
    flex-direction: column;
    align-items: center;
  }

  .main-content__offer-link {
    width: 100%;
  }

  .main-content__offer-price {
    width: 100%;
    border-image: linear-gradient(360deg, #BC10D8 0%, rgba(80, 0, 250, 0.93)) 1;
  }

  .product__title {
    margin-bottom: 44px;
  }

  .games__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 20px;
  }

  .games__inner {
    align-items: center;
  }

  .games-info {
    text-align: center;
  }

  .games__items {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .picture__img {
    height: 270px;
  }
}

@media (max-width:450px) {
  .bundle-item:first-child img {
    height: 300px;
  }
}