$white : #f6f4f5;
$gray: #5C5C5E;
$black: #070707;

%H0 {
  font-weight: 400;
  font-size: 96px;
  line-height: 110px;
}

%menu {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: $gray;
  text-transform: uppercase;
}

%H1 {
  font-weight: 400;
  font-size: 36px;
  line-height: 41px;
}

%H2 {
  font-weight: 400;
  font-size: 23px;
  line-height: 26px;
}

%text-13 {
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
}

%text-16 {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
}

%button {
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}

%H1-BiG {
  font-weight: 400;
  font-size: 36px;
  line-height: 41px;
  text-transform: uppercase;
}

%H00 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 400px;
  line-height: 484px;
}