@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';
@import 'libs';

// HEADER

.header {
  background-color: $white;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;


  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 19px 0;
  }

  &__menu {
    display: flex;
    gap: 20px;
  }

  &__menu-item {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 22px;
    color: #5c5c5e;
  }
}

//MAIN-CONTENT
.main-content {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  min-height: 100vh;
  padding-top: 208px;

  &__inner {
    max-width: 600px;
  }

  &__title {
    font-size: 96px;
    line-height: 110px;
    color: $white;
    margin-bottom: 10px;
  }

  &__subtitle {
    font-size: 36px;
    line-height: 41px;
    color: $white;
    margin-bottom: 5px;
  }

  &__offer-text {
    font-size: 13px;
    line-height: 15px;
    color: $white;
    margin-bottom: 50px;
  }




}

.main-content__offer {
  display: flex;
  margin-bottom: 10px;

  &-button {
    width: 50%;
    min-height: 60px;
    /* gradient */
    background: linear-gradient(180deg, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%);
    font-weight: 700;
    text-transform: uppercase;
    color: $white;
    cursor: pointer;
  }

  &-price-wrapper {
    width: 50%;
    min-height: 60px;
    padding: 2px;
  }

  &-price {
    width: 50%;
    min-height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-width: 4px;
    border-style: solid;
    border-image: linear-gradient(180deg, #BC10D8 0%, rgba(80, 0, 250, 0.93)) 1;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    color: $white;
  }

  &-subtext {
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    color: $white;
  }
}

.product {
  &__inner {
    padding: 100px 0;
    display: flex;
    justify-content: space-between;
  }

  &__title {
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: $gray;
    text-transform: uppercase;
    margin-bottom: 84px;
  }
}

.product-info {
  max-width: 580px;
  width: 100%;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 40px;
    width: 100%;
  }

  &__title {
    font-weight: 400;
    font-size: 36px;
    line-height: 41px;
    text-transform: uppercase;
    max-width: 329px;
    margin-bottom: 20px;
  }
}

.product-tabs {
  &__wrapper {
    max-width: 300px;
    width: 100%;
  }

  display: flex;
  flex-direction: column;
  gap: 20px;

  &__link {
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    color: $gray;

  }

  &__link--active {
    color: $black;
  }

  &__content {
    max-width: 280px;
    width: 100%;
  }

  &__content-box {
    display: none;
  }

  &__content-box--active {
    display: block;
  }

  &__content-title {
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: $gray;
    margin-bottom: 10px;
  }

  &__content-text {
    max-width: 280px;
    width: 100%;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: $gray;
    margin-bottom: 40px;
  }

  &__content-video {
    position: relative;
    max-width: 280px;
    width: 100%;
    min-height: 150px;
    padding: 10px 10px 30px 30px;
    display: flex;
    align-items: flex-end;
  }

  &__content-video-text {
    position: absolute;
    bottom: 10px;
    left: 9px;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    color: $white;
  }

  &__content-video-link {
    display: inline-block;
  }
}


/*
font-family: 'Roboto', sans-serif;
fw: 400,700

*/

@import 'media';